<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cjw.my.shop.web.admin.dao.TbUserDao">

    <sql id="baseColumn">
         a.id,
        a.username,
        a.password,
        a.phone,
        a.email,
        a.created,
        a.updated
    </sql>

    <select id="selectAll" resultType="TbUser">
        SELECT
        a.id,
        a.username,
        a.password,
        a.phone,
        a.email,
        a.created,
        a.updated
        FROM
        tb_user AS a
    </select>

    <insert id="insert">
    INSERT INTO tb_user (
      id,
      username,
      password,
      phone,
      email,
      created,
      updated
    )
    VALUES
      (
        #{id},
        #{username},
        #{password},
        #{phone},
        #{email},
        #{created},
        #{updated}
      )
</insert>

    <delete id="delete">
    DELETE FROM tb_user WHERE id = #{id}
</delete>

    <select id="getById" resultType="TbUser">
    SELECT
      a.id,
      a.username,
      a.password,
      a.phone,
      a.email,
      a.created,
      a.updated
    FROM
      tb_user AS a
    WHERE
      a.id = #{id}
</select>

    <update id="update">
    UPDATE
      tb_user
    SET
      username = #{username},
      password = #{password},
      phone = #{phone},
      email = #{email},
      created = #{created},
      updated = #{updated}
    WHERE id = #{id}
</update>

    <select id="getByEmail" resultType="TbUser">
        SELECT
        <include refid="baseColumn"></include>
        FROM tb_user a
        WHERE a.email = #{email}
    </select>

    <delete id="deleteMulti">
        DELETE FROM tb_user
        <where>
            id IN
            <foreach collection="array" open="(" close=")" item="id">
                #{id}
            </foreach>
        </where>
    </delete>

    <select id="page" parameterType="java.util.Map" resultType="TbUser">
        SELECT
        <include refid="baseColumn"/>
        FROM tb_user AS a
        <where>
            <if test="tbUser.email != null and tbUser.email != ''">
                AND email LIKE CONCAT('%',#{tbUser.email},'%')
            </if>
            <if test="tbUser.username != null and tbUser.username != ''">
                AND username LIKE CONCAT('%',#{tbUser.username},'%')
            </if>
            <if test="tbUser.phone != null and tbUser.phone != ''">
                AND phone LIKE CONCAT('%',#{tbUser.phone},'%')
            </if>
        </where>
        LIMIT #{start},#{length}
    </select>

    <select id="count" resultType="java.lang.Integer" parameterType="TbUser">
        SELECT COUNT(*)
        FROM tb_user
        <where>
            <if test="email != null and email != ''">
                AND email LIKE CONCAT('%',#{email},'%')
            </if>
            <if test="username != null and username != ''">
                AND username LIKE CONCAT('%',#{username},'%')
            </if>
            <if test="phone != null and phone != ''">
                AND phone LIKE CONCAT('%',#{phone},'%')
            </if>
        </where>
    </select>

</mapper>